@import "tailwindcss";

@layer base {
  :root {
    --header-height: 4rem;
  }

  body {
    @apply bg-gray-950 font-primary text-white;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  *:disabled {
    @apply cursor-not-allowed;
  }

  .wowhead-tooltip-powered {
    @apply !hidden;
  }
}

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-100: #f7f8f8;
  --color-gray-200: #d0d6e0;
  --color-gray-300: #8a8f98;
  --color-gray-400: #62666d;
  --color-gray-500: #37393a;
  --color-gray-600: #202122;
  --color-gray-700: #18191a;
  --color-gray-800: #141516;
  --color-gray-900: #0f1011;
  --color-gray-950: #08090a;
  --color-accent-100: #eef0ff;
  --color-accent-200: #d9dcff;
  --color-accent-300: #bcc0ff;
  --color-accent-400: #9ea3ff;
  --color-accent-500: #8488ff;
  --color-accent-600: #7170ff;
  --color-accent-700: #5e6ad2;
  --color-accent-800: #4b52a5;
  --color-accent-900: #34376f;
  --color-accent-950: #1f2241;
  --color-red: #eb5757;
  --color-orange: #fc7840;
  --color-yellow: #f2c94c;
  --color-green: #4cb782;
  --color-blue: #4ea7fc;
  --color-indigo: #5e6ad2;

  /* Deprecated colors, migrate to linear theme colors. To be removed in the future. */
  --color-blue-50: #f1f4fd;
  --color-blue-100: #dfe8fa;
  --color-blue-200: #c7d6f6;
  --color-blue-300: #a0bcf0;
  --color-blue-400: #7398e7;
  --color-blue-500: #4a6fdd;
  --color-blue-600: #3e59d2;
  --color-blue-700: #3447c1;
  --color-blue-800: #303c9d;
  --color-blue-900: #2c377c;
  --color-blue-950: #1f234c;
  --color-purple-50: #faf6fe;
  --color-purple-100: #f2ebfc;
  --color-purple-200: #e7dbf9;
  --color-purple-300: #d5bff3;
  --color-purple-400: #bb95eb;
  --color-purple-500: #a16de0;
  --color-purple-600: #8b4dd0;
  --color-purple-700: #763bb5;
  --color-purple-800: #673699;
  --color-purple-900: #522b78;
  --color-purple-950: #351457;
  --color-green-50: #f5f8f7;
  --color-green-100: #e2eee9;
  --color-green-200: #b9d6ca;
  --color-green-300: #8fb9aa;
  --color-green-400: #679a8a;
  --color-green-500: #4d7f70;
  --color-green-600: #3c6559;
  --color-green-700: #33524a;
  --color-green-800: #2c433d;
  --color-green-900: #273a34;
  --color-green-950: #13201d;
  /* End of deprecated colors */

  --font-primary: var(--font-primary);

  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;

  --animate-angle-rotate: rotate 1s steps(8, end) infinite;

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
