@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-950 font-primary;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  *:disabled {
    @apply cursor-not-allowed;
  }
}

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-50: #f6f7f6;
  --color-gray-100: #e3e5e2;
  --color-gray-200: #c7cbc4;
  --color-gray-300: #a2a99f;
  --color-gray-400: #7d867b;
  --color-gray-500: #636c60;
  --color-gray-600: #545c52;
  --color-gray-700: #41463f;
  --color-gray-800: #363a35;
  --color-gray-900: #30332e;
  --color-gray-950: #181b18;

  --color-blue-50: #f1f4fd;
  --color-blue-100: #dfe8fa;
  --color-blue-200: #c7d6f6;
  --color-blue-300: #a0bcf0;
  --color-blue-400: #7398e7;
  --color-blue-500: #4a6fdd;
  --color-blue-600: #3e59d2;
  --color-blue-700: #3447c1;
  --color-blue-800: #303c9d;
  --color-blue-900: #2c377c;
  --color-blue-950: #1f234c;

  --color-purple-50: #faf6fe;
  --color-purple-100: #f2ebfc;
  --color-purple-200: #e7dbf9;
  --color-purple-300: #d5bff3;
  --color-purple-400: #bb95eb;
  --color-purple-500: #a16de0;
  --color-purple-600: #8b4dd0;
  --color-purple-700: #763bb5;
  --color-purple-800: #673699;
  --color-purple-900: #522b78;
  --color-purple-950: #351457;

  --color-green-50: #f5f8f7;
  --color-green-100: #e2eee9;
  --color-green-200: #b9d6ca;
  --color-green-300: #8fb9aa;
  --color-green-400: #679a8a;
  --color-green-500: #4d7f70;
  --color-green-600: #3c6559;
  --color-green-700: #33524a;
  --color-green-800: #2c433d;
  --color-green-900: #273a34;
  --color-green-950: #13201d;

  --font-primary: var(--font-primary);

  --breakpoint-3xl: 1920px;

  --animate-angle-rotate: rotate 1s steps(8, end) infinite;

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
